@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.aboutme {
     
}
.aboutmewrapper{
    
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.avtar{
    position: inherit;
    width: 50%;
    height: 100%;
}
.avtar>img{
    width: 80%;
    height: 80%;
    margin-top: 100px;
}
.details{
    
    width: 50%;
    height: 100%;
    text-align: left;
    padding-left: 3%;
    padding-top: 25%;
    font-family: 'Roboto', sans-serif;

}
.details>.text1{
    font-family:  'PT Serif', serif;;
    font-size: 3.2rem;
}

@media(max-width : 500px){
    .aboutmewrapper{    
        display: flex;
        flex-direction: column;
    }
    .avtar{
        position: inherit;
        width: 80%;
        height: 60%;
    }
    .avtar>img{
        width: 100%;
        height: 100%;
        margin-top: 50px;
    }
    .details{
    
        width: 100%;
        height: 100%;
        text-align: justify;
        padding-left: 3%;
        padding-top: 25%;
        font-family: 'Roboto', sans-serif;
    
    }
    .details>.text1{
        font-family:  'PT Serif', serif;;
        font-size: 3.2rem;
    }
}